@import "tailwindcss";


@layer components {
  .nav_btn {
    @apply px-2 py-1 rounded font-medium text-white/70 hover:text-white transition hover:bg-white/20 active:scale-90
  }

  .motion {
    @apply transition-transform duration-300 hover:shadow-md shadow-pink-800/30;
  }

  .btn-primery {
    @apply border px-3 py-1 rounded-2xl text-white font-bold
    transition-transform duration-200 active:scale-95 hover:cursor-pointer;
  }
}
